
  <div class ="fixed booking-background">
    <div class="container container-fluid content booking">
     <% if @bookings.blank? %>
       <p id="no-booking-yet"> No bookings yet ...</p>
     <% else %>
      <div class="whiteback">

        <div class="cards row mx-0">          
          <div class="col-12">
              <div class="row mx-2">
                <% @bookings.each do |booking| %>
                  <div class="card-trip col-12 px-0 mr-3 mb-2">
                      <% if booking.facility.photo.attached? %>
                      <%= cl_image_tag booking.facility.photo.key, crop: :fill, class:"img-index"%>
                    <% end %>

                  <div class="card-trip-infos">
                      <div>
                        <h2 class="card-title"><%= link_to booking.facility.name, bookings_path, class:"h5-card" %> Status: ✅</h2>
                        <p class="card-text"><%= booking.facility.address %></p>
                        <p><%= link_to "Cancel Booking", bookings_delete_path(booking), method: :delete,
                        data: { confirm: "Are you sure?" } %></p>
                      </div>
                      <h2 class="card-trip-pricing"><%= booking.start_date %> <%= booking.end_date %></h2>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>