
<h1 my-3>Create a facility</h1>

<%= simple_form_for( @facility) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.input :capacity %>
  <%= f.input :photo, as: :file %>
  <%= f.submit  class: "submit-btn" %>
<% end %>
