
<div class="container">
  <%= link_to "Back", facilities_path, class: "btn btn-primary" %>
<div class="card-trip">
  <%= cl_image_tag @facility.photo.key, width: 400, height: 300, crop: :fill %>
  <div class="card-trip-infos">
    <div>
      <h2><%=@facility.name%></h2>
      <p><%= @facility.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @facility.price %>€</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
</div>
