<h2 class="h2show"><%=@facility.name%></h2>
<div class="container container-show">
<div>
 <% if @facility.photo.attached? %>
    <%= cl_image_tag @facility.photo.key, width: 800 , height: 500, crop: :fill %>
  <%end%>
</div>
<div class="card-product">
  <div class="card-product-infos fixed-card">
    <p><strong>Address: </strong><%= @facility.address %></p>
    <p><strong>Capacity: </strong><%= @facility.capacity %></p>
    <p><strong>Category: </strong><%= @facility.category %></p>
    <p><strong>Description: </strong><%= @facility.description %></p>
    <p><strong>Price: </strong><%= @facility.price %><strong> €</strong></p>
    <br><button class="btn btn-primary">Book now</button>

  </div>
</div>
</div>


